@charset "UTF-8";


.hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
	z-index: 9999;

}

.hamburger-menu__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.hamburger-menu__icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color:  #2aafaf;
    transition: transform 0.3s, opacity 0.3s;
}

.hamburger-menu__icon.open span:first-child {
    transform: translateY(8px) rotate(45deg);

}

.hamburger-menu__icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu__icon.open span:last-child {
    transform: translateY(-8px) rotate(-45deg);

}

/* Styles for the accordion menu */
.accordion-menu {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #ffffff;
}

.accordion-menu__item {
    margin-bottom: 5px;

    display: block;
    padding: 10px;
    background-color: #3584BB;
    color: #ffffff;
    text-decoration: none;
}



.accordion-menu__link:hover {
    background-color: #3acff1;
}

.accordion-menu__content {
    display: none;
    padding: 10px;


}
a {
	color: white;

}